<%- include('includes/header') %>

<nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <div class="navbar-header">
         
          <a class="navbar-brand" href="#">PassportApp</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1>Welcome <%= user.name%></h1>
        <p class="lead">Welcome to the members area</p>
        <a href="/users/logout">Logout</a>
      </div>

    </div><!-- /.container -->

<%- include('includes/footer') %>